<div class="padding-section-logo"><div class="home_logo_component"><div class="home_logo_list"><div id="w-node-a62281cc-52e8-9a0a-5480-821c1b267c7a-e57718a2" class="home_logo_wrapper"><img loading="lazy" src="{{ 'Daily-mail.svg' | asset_url }}" alt="Logo of DailyMail" class="home_logo_logo">
</div><div id="w-node-a62281cc-52e8-9a0a-5480-821c1b267c7c-e57718a2" class="home_logo_wrapper"><img loading="lazy" src="{{ 'LA-times.svg' | asset_url }}" alt="LA Times Logo" class="home_logo_logo">
</div><div id="w-node-a62281cc-52e8-9a0a-5480-821c1b267c7e-e57718a2" class="home_logo_wrapper"><img loading="lazy" src="{{ 'Healthline.svg' | asset_url }}" alt="Healthline Logo
" class="home_logo_logo">
</div><div id="w-node-a62281cc-52e8-9a0a-5480-821c1b267c80-e57718a2" class="home_logo_wrapper"><img loading="lazy" src="{{ 'NewYorkTimes.svg' | asset_url }}" alt="NewYork Times Logo" class="home_logo_logo ny">
</div><div id="w-node-a62281cc-52e8-9a0a-5480-821c1b267c82-e57718a2" class="home_logo_wrapper"><img loading="lazy" src="{{ 'CNN.svg' | asset_url }}" alt="CNN Logo" class="home_logo_logo">
</div><div id="w-node-a62281cc-52e8-9a0a-5480-821c1b267c84-e57718a2" class="home_logo_wrapper"><img loading="lazy" src="{{ 'Daily-mail.svg' | asset_url }}" alt="Logo of DailyMail" class="home_logo_logo">
</div><div id="w-node-a62281cc-52e8-9a0a-5480-821c1b267c86-e57718a2" class="home_logo_wrapper"><img loading="lazy" src="{{ 'LA-times.svg' | asset_url }}" alt="LA Times Logo" class="home_logo_logo">
</div><div id="w-node-a62281cc-52e8-9a0a-5480-821c1b267c88-e57718a2" class="home_logo_wrapper"><img loading="lazy" src="{{ 'Healthline.svg' | asset_url }}" alt="Healthline Logo
" class="home_logo_logo">
</div></div><div class="home_logo_list"><div id="w-node-a62281cc-52e8-9a0a-5480-821c1b267c8b-e57718a2" class="home_logo_wrapper"><img loading="lazy" src="{{ 'NewYorkTimes.svg' | asset_url }}" alt="NewYork Times Logo" class="home_logo_logo ny">
</div><div id="w-node-a62281cc-52e8-9a0a-5480-821c1b267c8d-e57718a2" class="home_logo_wrapper"><img loading="lazy" src="{{ 'CNN.svg' | asset_url }}" alt="CNN Logo" class="home_logo_logo">
</div><div id="w-node-a62281cc-52e8-9a0a-5480-821c1b267c8f-e57718a2" class="home_logo_wrapper"><img loading="lazy" src="{{ 'Daily-mail.svg' | asset_url }}" alt="Logo of DailyMail" class="home_logo_logo">
</div><div id="w-node-a62281cc-52e8-9a0a-5480-821c1b267c91-e57718a2" class="home_logo_wrapper"><img loading="lazy" src="{{ 'LA-times.svg' | asset_url }}" alt="LA Times Logo" class="home_logo_logo">
</div><div id="w-node-a62281cc-52e8-9a0a-5480-821c1b267c93-e57718a2" class="home_logo_wrapper"><img loading="lazy" src="{{ 'Healthline.svg' | asset_url }}" alt="Healthline Logo
" class="home_logo_logo">
</div><div id="w-node-a62281cc-52e8-9a0a-5480-821c1b267c95-e57718a2" class="home_logo_wrapper"><img loading="lazy" src="{{ 'NewYorkTimes.svg' | asset_url }}" alt="NewYork Times Logo" class="home_logo_logo ny">
</div><div id="w-node-a62281cc-52e8-9a0a-5480-821c1b267c97-e57718a2" class="home_logo_wrapper"><img loading="lazy" src="{{ 'CNN.svg' | asset_url }}" alt="CNN Logo" class="home_logo_logo">
</div><div id="w-node-a62281cc-52e8-9a0a-5480-821c1b267c99-e57718a2" class="home_logo_wrapper"><img loading="lazy" src="{{ 'Daily-mail.svg' | asset_url }}" alt="Logo of DailyMail" class="home_logo_logo">
</div></div></div></div> {% schema %} {"tag":"section","name":"Logo Marquee","class":"section_home_logo","presets":[{"name":"Logo Marquee","category":"Liquify","blocks":[]}]} {% endschema %}